.comparative {
	@include container(1200px);

	h2 {
			text-align: center;
		}

	table {
		border-collapse: collapse;
    	border-spacing: 0;
    	margin-top: 2rem;
    	width: 100%;

    		th {
    			 word-wrap: break-word;
    		}


    		td {
    			padding: 1.2rem;
    			font-weight: 300;
    			text-align: center;
			 	word-wrap: break-word;
    			

    				&:first-child {
    					text-align: right;
    				}
    		}

    		tbody tr:nth-child(2n+1) {
    			background-color: $grey;
    		}

    		tbody tr.comparative-row-buttons {
    			background-color: transparent;
    		}
	}

	&-plus-header,
	&-multi-header {
		@include font-size($big);
		font-weight: 300;
		padding: .5em;

			span {
				@include font-size($big);
				display: block;
				padding: 1rem 0;
			}
	}

	&-plus-header {
		color: $orange;
		border-left: 1px solid $orange;
		border-right: 1px solid $orange;
		border-top: 4px solid $orange;
	}

	&-multi-header {
		color: #6c92b5;
		border-left: 1px solid #6c92b5;
		border-right: 1px solid #6c92b5;
		border-top: 4px solid #6c92b5;
	}

	&-plus-column {
		border-left: 1px solid $orange;
		border-right: 1px solid $orange;

		&--last {
			border-bottom: 1px solid $orange;
		}
	}

	&-check {
		width: 32px;
		height: 32px;
		vertical-align: middle;
		fill: #666666;
	}

	&-none:before {
		content: "\0005F";
		font-size: 32px;
	}

	.table-container
	{
		width: 100%;
	}

	.table-container-outer { 
		position: relative; 
	}

	table tbody tr.comparative-row-buttons--rwd {
		display: none;
		background-color: transparent !important;
	}
}

@media screen and (max-width: 800px) {
	.comparative {
		table {
			border-collapse: separate;
    	border-spacing: 2px;
			@include font-size($xxsmall);
			td:first-child {
    					text-align: center;
    					padding: 8px;
			}

			tr {
			    display: flex;
			    flex-flow: row wrap;
			    justify-content: space-around;
		  	}

		  	td,
		  	th {
			    display: block;
			    width: 50%;
			    font-size: 20px;
		  	}

		  	tbody tr:nth-child(2n+1) {
    			background-color: transparent;
    		}

  			th:first-child,
  			td:first-child {
    			background: #efefef;
    			padding: 16px 0;
    			width: 100%;
  			}

  			th:nth-child(2),
  			td:nth-child(2) {
  				border-right: 1px solid #efefef;
  			}

  			th:first-child {
    		display: none;
  			}

		}

		&-multi-header,
		&-plus-header {
			border-left: none;
			border-right: none;
		}

		&-plus-column {
			border: 0;
		}
	}

	 .col-no-content {
	 	display: none !important;
	 }

	 .table-button-erase {
	 	display: none !important;
	 }

	 .comparative table tbody tr.comparative-row-buttons {
	 	display: none;
	 }

	 .comparative table tbody tr.comparative-row-buttons--rwd {
	 	display: block;
	 }
}



