//Layout
$susy: (
	columns: 12,
  	gutters: 0.75
	);

//Text Sizes

$doc-font-size: 16;

$big: 20;
$xbig: 24;
$xxbig: 32;
$xxxbig: 40;

$small: 16;
$xsmall: 15;
$xxsmall: 14;
$xxxsmall: 12;

$herosmallb: 24;
$herosmalld: 36;
$heromedium: 48;
$herobig: 80;

$mainfeaturemedium: 12;
$mainfeaturebig: 18;

$comparativesmall: 10;
$comparativesbig: 26;
//Colors

$base: #333333;
$blue: #2698ff;
$grey: #f5f5f5;
$orange: #d07214;


@mixin font-size($size) {
  font-size: 0px + $size;
  font-size: 0rem + $size / $doc-font-size;
}

@mixin clearfix() {
    & {
        *zoom: 1;
    }
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.badget-wrapper {
  width: 102px;
  height: 102px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.badget {
  color: #ffffff;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  position: relative;
  padding: 8px;
  left: -40px;
  top: 18px;
  width: 145px;
  background-color: $orange;
}