.main-features {
	padding: 0 1.2rem;
	width: 100%;
	background-color: $grey;
	margin: 0;
	@include clearfix;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: flex;
    		flex-wrap: wrap;
			li {
				//@include span(3 of 12);
				text-align: center;
				width: 33%;
				flex: 0 0 auto;

				div {
					padding:  0 1.5rem;
					width: 100%;
					text-align: center;
					margin: 0 auto;	
				}
			}
		}

	&_wrapper {
		@include container(1280px);
	}

	h2 {
		font-weight: 300;
		@include font-size($xbig);			
	}

	&-note {
		font-style: italic;
		color: #999;
		padding-top: 8px;
		display: inline-block;
	}
}


@media screen and (max-width: 830px) {
	.main-features {
		ul {
			li {
				width: 100%;
				margin: 0 0 32px;
			}
		}
	}
}	
