.secondary-nav {
	position: fixed;
	padding: 1.4rem 1rem 1rem;
	width: 100%;
	background-color: #333333;
	color: #ffffff;
	z-index: 3;
	text-align: center;
	height: 80px; 
	vertical-align: middle;
	top: -80px;
	transition: all 0.4s ease-in;


		nav {
			display: inline-block;

				a,
				a:visited {
					text-decoration: none;
					color: #999999;		
				}

				a:hover {
					text-decoration: underline;
					color: #ffffff;
				}
				
				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;			

				li {
					margin-right: 1rem;
					float: left;

						&:last-child {
							margin-right: 0;
					}
				}
			}
		}

		&--on {
			top: 0;
		}
}


@media screen and (max-width: 840px) {
	.secondary-nav {
		ul {
			li {
				@include font-size($xsmall);
			}
		}		
	}
}

@media screen and (max-width: 640px) {
	.secondary-nav {
		height: 50px;
		padding: 0.5rem;
		ul {
			li {
				@include font-size($xxxsmall);	
			}
		}		
	}
}


@media screen and (max-width: 480px) {
	.secondary-nav {
		height: 40px;
		padding: 0.5rem;
		ul {
			li {
				@include font-size(9);	
			}
		}		
	}
}

@media screen and (max-width: 380px) {
	.secondary-nav {
		height: 40px;
		padding: 0.5rem;
		ul {
			li {
				@include font-size(8);	
			}
		}		
	}
}

@media screen and (max-width: 360px) {
	.secondary-nav {
		height: 30px;
		padding: 0.5rem;
		ul {
			li {
				@include font-size($xxxsmall);	
			}
		}		
	}
}