@media screen and (max-width: 896px) {
	.main-nav {
		position: absolute;
		-webkit-box-orient: vertical;  
 		-webkit-box-direction: reverse;  
 		-webkit-flex-direction: column-reverse;  
     	-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
		width: 95%;
		nav {
			//align-self: flex-end;
		}

		ul {
			justify-content: center;
		}
	}

	.header_login.button_secondary {
		-webkit-align-self: flex-end;
     	-ms-flex-item-align: end;
	    align-self: flex-end;
	}

}

@media screen and (max-width: 895px) {
	.header_login.button_secondary {
    	height: 50px;
  	}
  	.main-nav { 
		width: 92%;
	}
}

@media screen and (max-width: 480px) {
	.logo {
		float: left;
		margin: 0 auto;
		width: 150px;
	}
  	.header_login.button_secondary {
    	height: 40px;
  	}

	.main-nav { 
		ul {
			@include font-size($xsmall);		
		}
	}
}

@media screen and (max-width: 360px) {
  
  	.header_login.button_secondary {
    	height: 32px;
  	}

	.main-nav { 
		ul {
			@include font-size($small);		
		}
	}
}